DerivedData
BitriseDemo.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
BitriseDemo.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/BitriseDemo.xcscheme
BitriseDemo.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
